body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    display: block;
    width: 100%;
    height: 100%;

    .cluster {
        background: #f00;
        border-radius: 50%;
    }

    .marker-center,
    .marker-outskirts, {
        border-radius: 50%;
    }

    .marker-center {
        background: #00a0ff;
    }

    .marker-outskirts {
        background: #d4a02b;
    }
}

#histogram {
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -o-user-select: none;
    user-select: none;

    .background {
        fill: rgba(120,120,120,0.8);
    }

    .graph-back {
        fill-opacity: 0.3;
    }

    .graph-front {
        fill-opacity: 0.8;
    }

    .graph-total,
    .date {
        font-family: "Trebuchet MS", Helvetica, Tahoma, sans-serif;
    }

    .graph-total {
        font-size: 24px;
        text-anchor: middle;
        pointer-events: none;
    }

    .date {
        font-size: 12px;
        color: rgba(0,0,0,0.7);

        &.left {
            text-anchor: start;
            padding-right: 5px;
        }
        &.right {
            text-anchor: end;
            padding-left: 5px;
        }
    }

    .graph-total-sum {
        font-size: 28px;
    }

    .handle {
        fill: rgba(0, 0, 0, 0.8);
        stroke-width: 8;
        stroke: #ff0000;
        stroke-opacity: 0;
        cursor: pointer;
    }

    &.dragging, &.dragging .handle {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
    }
}

.timecontrol {
    display: block;
    position: relative;

    #histogram {
        display: block;
    }
}
