body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#map {
  display: block;
  width: 100%;
  height: 100%;
}
#map .cluster {
  background: #f00;
  border-radius: 50%;
}
#map .marker-center,
#map .marker-outskirts {
  border-radius: 50%;
}
#map .marker-center {
  background: #00a0ff;
}
#map .marker-outskirts {
  background: #d4a02b;
}
#histogram {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#histogram .background {
  fill: rgba(120, 120, 120, 0.8);
}
#histogram .graph-back {
  fill-opacity: 0.4;
}
#histogram .graph-front {
  fill-opacity: 0.8;
}
#histogram .graph-total {
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 22px;
  text-anchor: middle;
  pointer-events: none;
}
#histogram .graph-total-sum {
  font-size: 28px;
}
#histogram .handle {
  fill: rgba(0, 0, 0, 0.8);
  stroke-width: 8;
  stroke: #ff0000;
  stroke-opacity: 0;
  cursor: pointer;
}
#histogram.dragging,
#histogram.dragging .handle {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.timecontrol {
  display: block;
  position: relative;
}
.timecontrol #histogram {
  display: block;
}
